[submodule "submodules/supagloo-prompts"]
	path = submodules/supagloo-prompts
	url = https://github.com/ashtable/supagloo-prompts.git
[submodule "submodules/supagloo-database-lib"]
	path = submodules/supagloo-database-lib
	url = https://github.com/ashtable/supagloo-database-lib.git
